@font-face {
  font-family: "Bonello"; /*Can be any text*/
  src: local("Bonello"),
    url("./assets/fonts/Bonello-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SimpleMichael"; /*Can be any text*/
  src: local("SimpleMichael"),
    url("./assets/fonts/Simple_Michael.otf") format("truetype");
}

@font-face {
  font-family: "AndreaBellarosa";
  src: local("AndreaBellarosa"),
    url("./assets/fonts/andrea_bilarosa/Andrea_Bellarosa.ttf")
      format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
  color: rgb(226, 226, 226);
}

.menu {
  background-color: #e9e7e7;
  border-radius: 0px 0px 5px 5px;
  position: fixed;
  top: 0;
  left: 0.5rem;
  z-index: 1000;
  width: 3rem;
  padding: 5px 5px;
}

.menu-open-button {
  background: transparent;
  width: 100%;
  padding: 0;
  max-height: 2rem;
  overflow: hidden;
  border: none;
}

.menu-open-button-icon {
  width: 90%;
  height: 100%;
}

.menu-button {
  display: flex;
  border: 0px;
  padding: 0px;
  border-radius: 35px;
  width: 3rem;
  background-color: transparent;
}

.menu-button-icon {
  width: 100%;
  height: 100%;
}

.counter-page {
  position: relative;
}

.counter-header {
  position: relative;
}

.counter-footer {
  position: relative;
  top: 2.5rem;
}

.counter-header-text-major {
  margin: 2.5rem 0rem;
  font-size: 3.5em;
  font-family: "AndreaBellarosa";
}

.counter-header-text-major-21 {
  margin: 1.5rem 0rem;
  font-size: 3.5em;
  font-family: "AndreaBellarosa";
  /* margin-right: 5rem; */
}

.counter-header-text-major-22 {
  margin: 0rem;
  font-size: 2.5em;
  font-family: "SimpleMichael";
  /* margin-left: 5rem; */
}

.counter-header-text-minor {
  margin: 3.5rem 0rem;
  font-size: 1.5em;
  font-family: "Bonello";
}

.counter-header-text-minor-2 {
  margin: 0rem;
  font-size: 1.5em;
  font-family: "Bonello";
}

.counter-header-text-group {
  display: flex;
}

.counter-body {
  position: relative;
}

.counter-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
}

.counter-number {
  font-family: "Bonello";
  font-size: xx-large;
  text-wrap: nowrap;
}

.counter-postfix {
  font-family: "SimpleMichael";
  font-size: x-large;
}

.percent-page {
  position: relative;
}

.percent-person {
  width: max-content;
  align-items: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.percent-person-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.percent {
  width: 14em;
  width: 14rem;
  height: 14rem;
}

.percent-progress-bar-container {
  width: max-content;
}

.percent-header-text-major {
  font-family: "SimpleMichael";
  font-size: xxx-large;
}

.percent-header-text-minor {
  margin-bottom: 20px;
  font-size: 1.5em;
  font-family: "Bonello";
}

.percent-number {
  font-family: "Bonello";
  font-size: xxx-large;
}

.percent-footer-text {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.percent-footer-text-basic {
  align-self: end;
  font-size: 1.5em;
  font-family: "SimpleMichael";
}

.percent-footer-text-highlighted {
  margin-left: -10px;
  font-size: 2.5em;
  font-family: "AndreaBellarosa";
}

#CircularProgressbarWithChildren {
  margin: 2rem;
  width: max-content;
}

.CircularProgressbar-path {
  stroke: white;
}
.CircularProgressbar-trail {
  stroke: rgb(54, 54, 54);
}
.CircularProgressbar-text {
  fill: white;
}
.CircularProgressbar-background {
  fill: green;
}

button:focus {
  outline: none;
}

button:hover {
  outline: none;
}
