@font-face {
  font-family: "HistoryOfWawa"; /*Can be any text*/
  src: local("HistoryOfWawa"),
    url("./assets/fonts/history_of_wawa/History_of_Wawa.ttf") format("truetype");
}

@font-face {
  /* Not good for numbers */
  font-family: "Claven"; /*Can be any text*/
  src: local("Claven"),
    url("./assets/fonts/claven/Claven.otf") format("truetype");
}

@font-face {
  font-family: "Tropiland"; /*Can be any text*/
  src: local("Tropiland"),
    url("./assets/fonts/tropiland.ttf") format("truetype");
}

@font-face {
  font-family: "Bonello"; /*Can be any text*/
  src: local("Bonello"),
    url("./assets/fonts/Bonello-Regular.otf") format("truetype");
}

@font-face {
  font-family: "SimpleMichael"; /*Can be any text*/
  src: local("SimpleMichael"),
    url("./assets/fonts/Simple_Michael.otf") format("truetype");
}

@font-face {
  font-family: "Fragment"; /*Can be any text*/
  src: local("Fragment"),
    url("./assets/fonts/Fragmentcore.otf") format("truetype");
}

@font-face {
  font-family: "JosephSophia"; /*Can be any text*/
  src: local("JosephSophia"),
    url("./assets/fonts/josephsophia/josephsophia.ttf") format("truetype");
}

@font-face {
  font-family: "AndreaBellarosa";
  src: local("AndreaBellarosa"),
    url("./assets/fonts/andrea_bilarosa/Andrea_Bellarosa.ttf")
      format("truetype");
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: black;
  color: rgb(226, 226, 226);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-button {
  display: flex;
  border: 0px;
  padding: 0px;
  margin: 10px;
  border-radius: 35px;
  width: 3rem;
}

.menu-button-icon {
  width: 100%;
  height: 100%;
}

.counter-page {
  position: relative;
}

.counter-header {
  position: relative;
}

.counter-header-text-major {
  margin: 2.5rem;
  font-size: 3.5em;
  font-family: "AndreaBellarosa";
}

.counter-header-text-minor {
  margin: 2.5rem;
  font-size: 1.5em;
  font-family: "Bonello";
}

.counter-body {
  position: relative;
}

.counter-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.counter {
  align-items: center;
  gap: 10px;
  display: flex;
  cursor: pointer;
}

.counter-number {
  font-family: "Bonello";
  font-size: xxx-large;
}

.counter-postfix {
  font-family: "SimpleMichael";
  font-size: xx-large;
}

.percent-page {
  position: relative;
}

.percent-person {
}

.percent-person-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
